.header-content{
    display: flex;
    justify-content: space-between;
    padding: 50px 180px;

    span{
        color: darkgray;
        font-weight: 700;
        &:hover{
            color: black;
            cursor: pointer;
        }
    }

    .wrapper{
        display: flex;
        align-items: center;
        flex-direction: row;
        .nav-link{
            display: flex;
            flex-direction: row;
            padding: 0 30px;

            li{
                list-style: none;
                padding: 0 20px;
            }
        }

        #login{
            margin-right: 30px;
        }
    }
}